.edit {
  width: 100%;
  background-color: #F1F1F1;
}

.edit_inner {
  max-width: 1280px;
  background-color: #FFFFFF;
  margin:  75px auto 0;
  padding: 64px;
}

.edit_content {
  width: 100%;
  & + & {
    margin-top: 64px;
  } 
}

.edit_contentTitle {
  margin: 0;
  font-size: 24px;
}

.edit_formContner {
  margin-top: 16px;
  display: flex;
  label {
    display: inline-block;
    width: 10%;
    font-size: 16px;
    font-weight: 600;
  }
  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}
