.home {
  width: 100%;
  background-color: #F1F1F1;
}

.home_inner {
  max-width: 1280px;
  background-color: #FFFFFF;
  margin:  70px auto 0;
  padding: 64px;
}

.home_Event {
  width: 100%;
  & + & {
    margin-top: 64px;
  } 
}

.home_EventTitle {
  margin: 0;
  font-size: 24px;
}

.home_contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.home_item {
  width: calc(50% - 48px);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 16px;
  display: inline-block;
  word-wrap: break-word;
  & + & + & {
    margin-top: 32px;
  }
  &--nil {
    margin: 0px;
  }
}

.home_itemTitle {
  font-size:  20px;
  font-weight: 600;
  margin: 0px;
  width: 100%;
}

.home_itemdetail {
  font-size: 16px;
  width: 100%;
  margin: 8px 0 0;
}

.home_itemContent {
  margin-top: 16px;
}

.home_itemContentTitle {
  font-weight: 600;
}

.home_itemContentdetail {
  color: rgba(0, 0, 0, 0.54);
}

.home_itemButton{
  display: inline-block;
  text-decoration: none;
  color: #FD0000;
  padding: 8px 16px;
  border: 1px solid #FD0000;
  border-radius: 4px;
  &:hover {
    background-color: #FD0000;
    color: #FFFFFF;
  }
}
